In [2]:
import pandas as pd

In [60]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [15]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [23]:
round(df[df['sex'] == 'Male']['age'].mean(), 1)

39.4

In [33]:
round(df[df['education'] == 'Bachelors'].shape[0] / df.shape[0] * 100, 1)

16.4

In [42]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0]
round(df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & (df['salary'] == '>50K')].shape[0] / higher_education * 100, 1)

46.5

In [47]:
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].shape[0]
round(df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']) & (df['salary'] == '>50K')].shape[0] / lower_education * 100, 1)

17.4

In [55]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [58]:
num_min_workers = df[df['hours-per-week'] == min_work_hours].shape[0]
num_min_workers

20

In [59]:
round(df[df['hours-per-week'] == min_work_hours & (df['salary'] == '>50K')].shape[0] / num_min_workers * 100, 1)

10.0

In [65]:
countries = df['native-country'].unique()
countries

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [72]:
rich_percentages = pd.Series(dtype=float)
for country in countries:
    total_count = df[df['native-country'] == country].shape[0]
    rich_count = df[(df['native-country'] == country) & (df['salary'] == '>50K')].shape[0]
    rich_percentage = round(rich_count / total_count * 100, 1)
    rich_percentages[country] = rich_percentage
rich_percentages

United-States                 24.6
Cuba                          26.3
Jamaica                       12.3
India                         40.0
?                             25.0
Mexico                         5.1
South                         20.0
Puerto-Rico                   10.5
Honduras                       7.7
England                       33.3
Canada                        32.2
Germany                       32.1
Iran                          41.9
Philippines                   30.8
Italy                         34.2
Poland                        20.0
Columbia                       3.4
Cambodia                      36.8
Thailand                      16.7
Ecuador                       14.3
Laos                          11.1
Taiwan                        39.2
Haiti                          9.1
Portugal                      10.8
Dominican-Republic             2.9
El-Salvador                    8.5
France                        41.4
Guatemala                      4.7
China                         26.7
Japan                         38.7
Yugoslavia                    37.5
Peru                           6.5
Outlying-US(Guam-USVI-etc)     0.0
Scotland                      25.0
Trinadad&Tobago               10.5
Greece                        27.6
Nicaragua                      5.9
Vietnam                        7.5
Hong                          30.0
Ireland                       20.8
Hungary                       23.1
Holand-Netherlands             0.0
dtype: float64

In [86]:
rich_percentages[rich_percentages == rich_percentages.max()]

Iran    41.9
dtype: float64

In [82]:
rich_percentages[rich_percentages == rich_percentages.max()].index[0]

'Iran'

In [87]:
rich_percentages.max()

41.9

In [88]:
df[df['native-country'] == 'India']['occupation'].value_counts().idxmax()

'Prof-specialty'